.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    /* background: rgba(255, 255, 255, 0.2); */
    color: darkgray;
    text-align: center;
    margin: 16px;
  }

  .site-layout .site-layout-background {
    background: #fff;
  }

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.outer-layout-wrapper {
  min-height: 100vh;
}