.container {
  position: relative;
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  top: 7rem;
  right: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 50%; /* Full width */
  padding: 20px; /* Some padding */
}

.levelChooser {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(87, 86, 86, 0.274);
}

.questionsTab {
}
