.jumboStyle {
  background-color: white !important;
  text-align: center;
}

.buttonCenter {
  text-align: center;
}

.simplyImg {
  height: 50vmin !important;
}

.jumboPadding {
  padding: 2rem !important;
}

.cardWidth {
  width: "5rem";
}
